export(read_wide_proteomics)
export(diff_expr_ttest)
export(diff_expr_vs)
export(diff_expr_pairwise)
export(plot_volcano)
export(reactome_gsea_from_de)
export(reactome_across)
export(run_pca)
export(run_tsne)
export(run_plsda)
export(train_lasso)
export(train_rf)
export(cluster_proteome)
export(enrich_modules)
export(run_proteomics_wizard)
